<%- include("../partials/header") %>

<div class="container mt-3">
    <div class="formStyle">
        <h2 class="text-center">Edit Comment</h2>
        <form class="editComment" action="/campgrounds/<%= comment.campground.id %>/comments/<%= comment.id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="text">Text</label>
                <textarea class="form-control" id="text" name="text" rows="4"><%= comment.text %></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Edit Comment</button>
        </form>
    </div>
    <br>
    <a href="/campgrounds">Go Back</a>
</div>

<%- include("../partials/footer") %>