<%- include("../partials/header") %>

<!-- MAIN CONTAINER -->
<div class="container">
    <!-- MAIN HEADER -->
    <header class="jumbotron text-center pb-4">
        <h1 class="display-4">Campgrounds</h1>
        <p class="lead">Welcome to Campgrounds list page. This section contains all managed Campgrounds!</p>
        <a href="campgrounds/new" class="btn btn-primary">Create New Campground</a>

    </header>
    <!-- END OF MAIN HEADER -->

    <!-- CAMPGROUNDS GRID -->
    <div class="row row-cols-1">
        <div class="row-cols-12 text-center pb-4">
            <h3>List of Campgrounds</h3>
        </div>
    </div>
    
    <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2">
            <% campgrounds.forEach((campground) => { %>
                <div class="col mb-4"> <!-- MB-4 = MARGIN BOTTOM 4 -->
                    <div class="card">
                        <img src="<%= campground.image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.name %></h5>
                            <p class="card-text"><%= campground.description %></p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-secondary btn-sm">Details</a>
                        </div>
                    </div>
                </div>
            <% }); %>
    </div><!-- END OF CAMPGROUNDS GRID -->

</div><!-- END OF MAIN CONTAINER -->


<%- include("../partials/footer") %>