<%- include("../partials/header") %>

<h1>Campground Details</h1>
<a href="../campgrounds">Back</a>
<!-- CONTAINER -->
<div class="container">
    <div class="row">
        <!-- SIDEBAR -->
        <div class="list-group sidebar">
            <p class="lead">YelpCamp</p>
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
        <!-- CARD -->
        <div class="card show-card">
                                                    <!-- class="img-responsive" ? -->
                    <img src="<%= campground.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title"><%= campground.name %></h3>
                        <p class="card-text mb-4"><%= campground.description %></p>
    
                        <!-- UPDATE/DELETE CAMPGROUND BUTTONS -->
                        <% if (locals.user){ %>
                            <% if (JSON.stringify(locals.user._id) === JSON.stringify(campground.createdBy.id)) { %>
                            <div class="buttons d-flex mb-4">
                                <!-- UPDATE -->
                                <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary btn-sm">Update</a>
                                <!-- DELETE -->
                                <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger ml-4">Delete</button>
                                </form>
                            </div>
                            <%  };  %>
                        <% } %>

                        <!-- COMMENTS -->
                        <p class="card-header d-flex justify-content-between mb-3">
                            Comments
                            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success btn-sm">Add Comment</a>
                        </p>
                        <% campground.comments.forEach((comment) => { %>
                            <p class="blockquote d-flex justify-content-between"> 
                                <%= comment.text %>
                                <span class="text-muted small">
                                    <!-- UPDATE/DELETE COMMENT BUTTONS -->
                                    <% if (locals.user){ %>                                        
                                        <% if (JSON.stringify(locals.user._id) === JSON.stringify(comment.author.id)){ %>
                                        <!-- UPDATE -->
                                        <a href="<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-outline-warning">Update</a>
                                        <!-- DELETE -->
                                        <form action="campgrounds/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-sm btn-outline-danger mr-2">Delete</button>
                                        </form>
                                        <% }; %>
                                    <% }; %>
                                    <%= comment.edited %>
                                </span>
                            </p>
                            <p class="blockquote-footer font-italic">
                                <%= comment.author.username %>
                            </p>
                        <% }); %>

                    </div>

                    <!-- FOOTER -->
                    <div class="card-footer font-italic">
                        <p>Last Edited: <%= campground.edited %> by <%= campground.createdBy.username %></p>
                    </div>
        </div><!-- END OF CARD -->

    </div><!-- END OF SIDEBAR -->

</div><!-- END OF CONTAINER -->

<%- include("../partials/footer") %>