<%- include("partials/header") %>

<h1>Campground Details</h1>

<ul>
    <li><img src="<%= campground[0].image %>"></li>
    <li>Name: <%= campground[0].name %></li>
    <li>Description: <%= campground[0].description %></li>
    <li>ID: <%= campground[0].id %></li>
</ul>








<%- include("partials/footer") %>