<%- include("partials/header") %>

<h1>Campground Details</h1>
<a href="../campgrounds">Back</a>

<div class="container">
    <div class="card w-75">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    </form>
                </div>
    </div>
</div>

<%- include("partials/footer") %>