<%- include("partials/header") %>

<h1>Campground Details</h1>
<a href="../campgrounds">Back</a>

<% console.log(campground) %>

<div class="container">
    <div class="card w-75">
                <img src="<%= campground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    
                    <!-- COMMENTS -->
                    <p class="card-text">Comments:</p>
                    <% campground.comments.forEach((comment) =>{ %>
                        <p class="card-text"> 
                        "<%= comment.text %>"" by: 
                        <%= comment.author %> 
                    <% }); %></p>
                    
                    <!-- BUTTONS -->
                    <div class="buttons">
                        <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success btn-sm">Add Comment</a>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary btn-sm">Update</a>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>

                </div>
                <div class="card-footer">
                    <p>Created On: <%= campground.created.toDateString() %></p>
                </div>
    </div>
</div>

<%- include("partials/footer") %>