<!DOCTYPE html>
<head>
    <title>Movie Database</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <div>
        <h1>MOVIE DETAILS</h1>
        <button onclick="goBack()">Go Back</button>
        <div id="movieDetailBlock">
            <ul>
                <li><img src="<%= movieDetail.Poster %>"></li>
                <li class="hgl"><strong>Title: </strong><%= movieDetail.Title %></li>
                <li class="hgl"><strong>Year: </strong><%= movieDetail.Year %></li>
                <li class="hgl"><strong>Genre: </strong><%= movieDetail.Genre %></li>
                <li class="hgl"><strong>Director: </strong><%= movieDetail.Director %></li>
                <li class="hgl"><strong>Actors: </strong><%= movieDetail.Actors %></li>
                <li><strong>Rated: </strong><%= movieDetail.Rated %></li>
                <li><strong>Released: </strong><%= movieDetail.Released %></li>
                <li><strong>Runtime: </strong><%= movieDetail.Runtime %></li>
                <li><strong>Writer: </strong><%= movieDetail.Writer %></li>
                <li><strong>Plot: </strong><span class="plot"><%= movieDetail.Plot %></span></li>
                <li><strong>Language: </strong><%= movieDetail.Language %></li>
                <li><strong>Country: </strong><%= movieDetail.Country %></li>
                <li><strong>Awards: </strong><%= movieDetail.Awards %></li>
                <!-- <br>
                <li><strong>Ratings:</strong>
                    <ul>
                        <li>
                            <strong><%= //movieDetail.Ratings[0].Source %>: </strong><%= //movieDetail.Ratings[0].Value %>
                        </li>
                        <li>
                            <strong><%= //movieDetail.Ratings[1].Source %>: </strong><%= //movieDetail.Ratings[1].Value %>
                        </li>
                        <li>
                            <strong><%= //movieDetail.Ratings[2].Source %>: </strong><%= //movieDetail.Ratings[2].Value %>
                        </li>
    
                    </ul>
                </li>
                <br> -->
                <li><strong>Metascore: </strong><%= movieDetail.Metascore %></li>
                <li><strong>imdbRating: </strong><%= movieDetail.imdbRating %></li>
                <li><strong>imdbVotes: </strong><%= movieDetail.imdbVotes %></li>
                <li><strong>imdbID: </strong><%= movieDetail.imdbID %></li>
                <li><strong>DVD: </strong><%= movieDetail.DVD %></li>
                <li><strong>BoxOffice: </strong><%= movieDetail.BoxOffice %></li>
                <li><strong>Production: </strong><%= movieDetail.Production %></li>
                <li><strong>Website: </strong><%= movieDetail.Website %></li>
            </ul>
        </div>
    </div>
    <script>
        function goBack() {
          window.history.back();
        }
    </script>
</body>
</html>
