<!DOCTYPE html>
<head>
    <title>Movie Database</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <div>
        <h1>MOVIE DATABASE</h1>
        <h2>Results</h2>

        <form action="/"  method="GET">
            <input type="submit" value="Back to Search">
        </form>

        <% movies.forEach(function(m){ %>
        <ul>
                <li><strong>Title</strong>: <%= m.Title %></li>
                <li><strong>Year</strong>: <%= m.Year %></li>
                <li><strong>ID</strong>: <%= m.imdbID %></li>
                <form action="/movieDetail"  method="POST">
                    <% console.log('MOVIE ID: ' + m.imdbID); %>
                    <input type="submit" name="Details" value="<%= m.imdbID %>">
                </form>
                <li><strong>Type</strong>: <%= m.Type %></li>
                <li><img src="<%= m.Poster %>"></li>
        </ul>
        <% }); %>
       
        <form action="/"  method="GET">
            <input type="submit" value="Back to Search">
        </form>

    </div>
</body>
</html>

